.card { height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

body { 
    font-family: Arial, sans-serif; 
    padding: 20px; 
}

.profile-pic { width: 150px; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}

.card img { height: 200px; 
    object-fit: cover; 
}

.section-title { 
    text-align: center; 
    margin-bottom: 30px; 
    font-weight: bold; 
}



